<section class="services" id="services">
  <div class="inside-container">
    <h2 class="title">Our Services</h2>
    <div class="carts">
      <div class="cart">
        <img src="./assets/desktop.svg" width="100%" alt="Yora Pro first Service description picture">
        <h3>Service 01</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="cart">
        <img src="./assets/network-wired.svg" width="100%" alt="Yora Pro second Service description picture">
        <h3>Service 02</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
      <div class="cart">
        <img src="./assets/camera.svg" width="100%" alt="Yora Pro third Service description picture">
        <h3>Service 03</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
      </div>
    </div>
  </div>
</section>
